<!DOCTYPE html>
<html>
<head>
  <title>DungeonGenie</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>

<div class="container home-container">
  <%= image_tag("DG_D20.png", class: "home-image")%>

  <footer class="home-footer">
    <p>© <%= Date.today.year %> DungeonGenie. All rights reserved.</p>
  </footer>
</div>

</body>
</html>
