<!DOCTYPE html>
<html>
<head>
  <title>DungeonGenie</title>
</head>
<body>

<div class="container">
  <header>
    <h1>Welcome to DungeonGenie</h1>
  </header>

  <footer>
    <p>© <%= Date.today.year %> DungeonGenie. All rights reserved.</p>
  </footer>
</div>

</body>
</html>
