<div class="campaignoptions-container">
  <div class="campaignoptions-card-container">
    <% if @campaign_options.any? %>
      <% @campaign_options.each do |campaign| %>
        <div class="campaignoptions-card">
            <span class="campaign-name"><%= campaign.name %></span>
            <%= image_tag campaign.image_url %>
            <%= button_to 'Select Campaign', new_campaign_path(campaign_id: campaign.id), class: "select-button" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
