/* Card container */
.campaign-card-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

/* campaign cards*/
.campaign-flip-card {
  width: 435px;
  height: 300px;
  margin: 40px;
  perspective: 1000px;
  border-radius: 15px;
  overflow: visible;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

// .campaign-flip-card:hover .campaign-flip-card-inner {
//   transform: rotateY(180deg);
// }

.campaign-flip-card-front, .campaign-flip-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

.campaign-flip-card-front {
  transform: rotateY(0deg);
  z-index: 2;
  border-radius: 15px;
}

.campaign-flip-card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  z-index: 1;
  border-radius: 15px;
}

figure {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
}

/* Character name on front of the card */
.campaign-flip-card-front figcaption {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #443e65e0, rgba(255, 255, 255, 0));
  color: white;
  font-size: 20px;
  z-index: 2;
  text-align: center;
  padding: 5px 10px;
  border-radius: 0;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
