/* Define styles for the campaign card container */
.campaign-card-container {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	padding: 50px;
}

/* Define styles for each campaign card */
.campaign-card-container .campaign-card {
	position: relative;
	width: calc(33.33% - 2%);
	margin: 1%;
	overflow: hidden;
	border-radius: 15px;
}

/* Define styles for the face of the campaign card (both face1 and face2) */
.campaign-card-container .campaign-card .face {
	width: 100%;
	height: auto;
	transition: 0.4s;
	border-radius: 15px;
}

/* Define styles for face1 of the campaign card */
.campaign-card-container .campaign-card .face.face1 {
	position: relative;
	background: #1a2038;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	z-index: 2;
	transform: translateY(100px);
	border-radius: 15px;
}

/* Define hover effect for face1 */
.campaign-card-container .campaign-card:hover .face.face1 {
	transform: translateY(0);
	border-radius: 15px 15px 0 0;
}

/* Define styles for images within the campaign card */
.campaign-card-container .campaign-card .face.face1 .img-container img {
	border-radius: 15px;
	transition: 0.5s;
	text-align: center;
	width: 100%;
	height: 100%;
}

/* Define styles for face2 of the campaign card */
.campaign-card-container .campaign-card .face.face2 {
	position: relative;
	background: #1a2038;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	transform: translateY(-100px);
	border-radius: 0 0 15px 15px;
	opacity: 0.9;
}

/* Define pseudo-elements before and after for square corners at the top of face2 */
.campaign-card-container .campaign-card .face.face2::before,
.campaign-card-container .campaign-card .face.face2::after {
	content: '';
	position: absolute;
	top: 0;
	width: 15px;
	height: 15px;
	background: #1a2038;
	border-radius: 0;
}

/* Styles for the pseudo-element before */
.campaign-card-container .campaign-card .face.face2::before {
	left: 0;
	transform: translateX(-50%);
}

/* Styles for the pseudo-element after */
.campaign-card-container .campaign-card .face.face2::after {
	right: 0;
	transform: translateX(50%);
}

/* Define hover effect for face2 */
.campaign-card-container .campaign-card:hover .face.face2 {
	transform: translateY(0);
}

/* Define styles for campaign content within face2 */
.campaign-card-container .campaign-card .face.face2 .campaign-content {
	overflow: hidden;
	height: 0;
	opacity: 0;
	transition: height 1s ease, opacity 1s ease;
}

/* Define hover effect for campaign content */
.campaign-card-container .campaign-card:hover .face.face2 .campaign-content {
	height: auto;
	opacity: 1;
}

/* Define styles for text within campaign content */
.campaign-card-container .campaign-card .face.face2 .campaign-content p,
a {
	font-size: 10pt;
	margin: 0;
	padding: 0;
	color: #333;
}

/* Define styles for links within campaign content */
.campaign-card-container .campaign-card .face.face2 .campaign-content a {
	text-decoration: none;
	color: rgb(5, 5, 5);
	box-sizing: border-box;
	outline: 1px dashed #333;
	padding: 10px;
	margin: 15px 0 0;
	display: inline-block;
}

/* Define hover effect for links within campaign content */
.campaign-card-container .campaign-card .face.face2 .campaign-content a:hover {
	background: #333;
	color: whitesmoke;
	box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* Styles for images within figure element in face1 */
.campaign-card-container .campaign-card .face.face1 figure .campaign-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 0.5s;
	display: block;
}

/* Defines the hover effect for the campaign image in face1 */
.campaign-card-container
	.campaign-card:hover
	.face.face1
	figure
	.campaign-image {
	transform: scale(1);
}

/* Styles for the campaign figure */
.campaign-figure {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	object-fit: contain;
}

/* Styles for the campaign figcaption */
.campaign-figcaption {
	background: #1a2038; /* Match face2 background color */
	color: white;
	text-shadow: 0 0 10px #c2c9e7, 0 0 20px #c2c9e7;
	font-size: 16px;
	letter-spacing: 4px;
	text-transform: uppercase;
	padding: 5px 10px;
	box-sizing: border-box;
	text-align: center;
	width: 100%;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.9;
	border-radius: 15px 15px 0 0;
}

/* Styles for the image container */
.img-container {
	flex-grow: 1;
	overflow: hidden;
}
