/* Card container */
.character-card-container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
}

/* Character cards*/
.character-flip-card {
	width: 450px;
	height: 665px;
	margin: 40px;
	perspective: 1000px;
	border-radius: 15px;
	overflow: visible;
}

.character-flip-card-inner {
	width: 100%;
	height: 100%;
	position: relative;
	transform-style: preserve-3d;
	transition: 0.6s;
	perspective: 1500px;
	border-radius: 15px;
	overflow: visible;
}

.character-flip-card:hover .character-flip-card-inner {
	transform: rotateY(180deg);
}

.character-flip-card-front,
.character-flip-card-back {
	width: 100%;
	height: 100%;
	position: absolute;
	backface-visibility: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: cover;
	background-position: center;
	border-radius: 15px;
}

.character-flip-card-front {
	transform: rotateY(0deg);
	z-index: 2;
	border-radius: 15px;
}

.character-flip-card-front img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	z-index: 1;
	border-radius: 15px;
}

.character-flip-card-back {
	transform: rotateY(180deg);
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.6);
	background-blend-mode: overlay;
	backdrop-filter: blur(5px);
	border-radius: 15px;
}

.character-flip-card-back ul {
	padding: 20px;
	border-radius: 10px;
}

.character-flip-card-back ul li {
	padding: 5px 0;
	font-size: 20px;
	color: #000000;
}

figure {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
}

/* Character name on front of the card */
.character-flip-card-front figcaption {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	transform: translateY(-50%);
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
	font-size: 32px;
	z-index: 2;
	text-align: center;
	padding: 5px 10px;
	border-radius: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
