.chatContainer {
	width: 800px;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 55%;
	left: 30%;
	z-index: 999;
}

.chatDisplay {
	padding: 10px;
	overflow-y: auto;
	text-align: left;
	width: 800px;
	height: 210px;
	border-radius: 15px;
	margin-bottom: 10px;
}

.messageForm {
	width: 800px;
	display: flex;
	margin-top: 0;
}

.input-wrapper {
	position: relative;
	width: 800px;
}

.messageInput {
	width: 100%;
	padding: 10px;
	padding-right: 80px;
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	background-color: #0e1328be;
	color: #fff;
	border-radius: 15px;
	border: 1px solid #1a2038;
}

.message-name {
	font-size: 16px;
	color: #ffffff;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 0px;
	text-shadow: 0 0 10px #c2c9e780;
}

.message-content {
	font-size: 16px;
	color: #ffffff;
	line-height: 1.7;
	text-shadow: 0 0 10px #c2c9e780;
}
