.campaign-show {
	padding: 20px;
	margin: 0 auto;
	width: 800px;
	border-radius: 15px;
	text-align: center;
	background-color: transparent;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	backdrop-filter: blur(16px) saturate(180%);
}

.campaign-show h1 {
	color: #ffffff;
}

.start-session-btn {
	margin-top: 20px;
	display: inline-block;
	padding: 10px 20px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.campaign-show figure {
	justify-content: center;
}

.img-show img {
	height: 400px;
	width: 100%;
}

.return-btn-container {
	padding: 100px;
	margin: 100px;
}

.login-container {
	width: 100%;
	max-width: 400px; /* Or any preferred width */
	margin: auto; /* Centers the container */
	padding: 20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Optional */
}
