.new-campaign-container {
	max-width: 800px;
	width: 100%;
}

.new-campaign-form {
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(17, 25, 40, 0.75);
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.125);
	max-width: 90%;
	overflow-y: auto;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.new-campaign-form .field input:focus,
.new-campaign-form .field select:focus,
.new-campaign-form .field textarea:focus {
	border-color: grey;
}

.new-campaign-form label {
	margin-bottom: 5px;
}

.new-campaign-form input,
.new-campaign-form select,
.new-campaign-form textarea {
	width: 100%;
	background-color: rgb(31, 42, 55);
	color: white;
	border: 1px solid rgb(102, 101, 101);
	border-radius: 4px;
}

.new-campaign-form-content {
	width: 100%;
	overflow-y: auto;
	padding: 10px;
}

/* Log in Form*/

.login-form-inputs {
	margin-bottom: 20px;
}

.form-actions {
	text-align: center;
}

.form-inputs input[type='password'] {
	width: 200px;
	height: 30px;
	margin-bottom: 10px;
	margin-left: 10px;
}

.form-inputs input[type='email'] {
	width: 250px;
	height: 30px;
	margin-bottom: 10px;
	margin-left: 10px;
}

.form-inputs input[type='password'],
.form-inputs input[type='text'],
.form-inputs input[type='email'] {
	padding: 15px;
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	background-color: #0e1328be;
	color: #fff;
	border-radius: 15px;
	border: 1px solid #1a2038;
	box-sizing: border-box;
}

.form-field.character-class-container,
.form-field.race-class-container,
.form-field.gender-container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.form-hover-info {
	min-width: 400px;
	max-width: 800px;
	display: none;
	position: static;
	border-radius: 15px;
	left: 25%;
	bottom: 12%;
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	background-color: #323b5e;
	box-shadow: 0 0 40px #01051b;
	transition: 0.6s, box-shadow 0.6s;
	color: #fff;
	padding: 15px;
	border-radius: 15px;
	white-space: normal;
	overflow-wrap: break-word;
	overflow-y: auto;
}

.race-button:hover + .form-hover-info {
	display: block;
	border-radius: 15px;
	z-index: 1;
}

.race-button:hover + .form-hover-info strong {
	color: #b3a4ff;
}

.character-class-button:hover + .form-hover-info {
	display: block;
	border-radius: 15px;
	z-index: 1;
}

.character-class-button:hover + .form-hover-info strong {
	color: #00fdf0;
}

.name-gen-container,
.new-character-form {
	width: 800px;
	margin: 10px auto;
	box-shadow: 0 0 40px #01051b;
}

.name-gen-container {
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(17, 25, 40, 0.75);
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.125);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px;
}

.new-character-form {
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(17, 25, 40, 0.75);
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.125);
	overflow-y: auto;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.new-character-form .field input:focus,
.new-character-form .field select:focus,
.new-character-form .field textarea:focus {
	border-color: grey;
}

.form-field {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.new-character-form label {
	margin-bottom: 5px;
}

.new-character-form input,
.new-character-form select,
.new-character-form textarea {
	width: 100%;
	background-color: rgb(31, 42, 55);
	color: white;
	border: 1px solid rgb(102, 101, 101);
	border-radius: 4px;
}

.name-gen-form select {
	backdrop-filter: blur(10px);
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	padding: 5px;
	color: #fff;
	margin-left: 10px;
	overflow: visible;
}

.name-gen-form select {
	background-color: rgba(255, 255, 255, 0.1);
}

#nameArea li {
	padding: 10px;
	list-style-type: none;
}

#nameArea {
	font-size: 18px;
	color: #9900ff;
}

#nameArea::before,
#nameArea::after {
	content: '✨';
	position: absolute;
	font-size: 24px;
	opacity: 0;
	animation: sparkle 4s infinite;
}

#nameArea::before {
	top: -10px;
	left: -20px;
	animation-delay: 1s;
}

#nameArea::after {
	bottom: -10px;
	right: -20px;
	animation-delay: 2s;
}

@keyframes sparkle {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.race-class-container,
.character-class-container,
.gender-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}

.ability-info {
	display: flex;
	justify-content: space-between;
}

.ability-section {
	margin-right: 20px;
}

.form-field h4 {
	display: none;
}
