/* New character form */
.new-character-container {
	max-width: 800px;
	width: 100%;
}

.new-character-form {
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(17, 25, 40, 0.75);
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.125);
	max-width: 90%;
	overflow-y: auto;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.new-character-form .field input:focus,
.new-character-form .field select:focus,
.new-character-form .field textarea:focus {
	border-color: grey;
}

.form-field {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.new-character-form label {
	margin-bottom: 5px;
}

.new-character-form input,
.new-character-form select,
.new-character-form textarea {
	width: 100%;
	background-color: rgb(31, 42, 55);
	color: white;
	border: 1px solid rgb(102, 101, 101);
	border-radius: 4px;
}

.new-character-form-content {
	width: 100%;
	overflow-y: auto;
	padding: 10px;
}

.new-campaign-container {
	max-width: 800px;
	width: 100%;
}

.new-campaign-form {
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	background-color: rgba(17, 25, 40, 0.75);
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.125);
	max-width: 90%;
	overflow-y: auto;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.new-campaign-form .field input:focus,
.new-campaign-form .field select:focus,
.new-campaign-form .field textarea:focus {
	border-color: grey;
}

.new-campaign-form label {
	margin-bottom: 5px;
}

.new-campaign-form input,
.new-campaign-form select,
.new-campaign-form textarea {
	width: 100%;
	background-color: rgb(31, 42, 55);
	color: white;
	border: 1px solid rgb(102, 101, 101);
	border-radius: 4px;
}

.new-campaign-form-content {
	width: 100%;
	overflow-y: auto;
	padding: 10px;
}

#modal {
	z-index: 9999;
	height: auto;
	width: 400px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: rgb(147, 147, 147);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	position: fixed;
	display: none;
}

.modal-content {
	padding: 20px;
	text-align: center;
	background-color: black;
}

.close-button {
	background-color: #e74c3c;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 10px;
}

.close-button:hover {
	background-color: #c0392b;
}

/* Log in Form*/

.form-inputs {
	margin-bottom: 20px;
}

.form-actions {
	text-align: center;
}

.form-inputs input[type='text'],
.form-inputs input[type='password'],
.form-inputs input[type='email'] {
	width: 200px;
	height: 30px;
	padding: 10px;
	padding-right: 80px;
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	background-color: #0e1328be;
	color: #fff;
	border-radius: 15px;
	border: 1px solid #1a2038;
}

.form-field.character-class-container,
.form-field.race-class-container,
.form-field.gender-container {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

/* Character Creation Hover */
.form-hover-info {
	min-width: 400px;
	max-width: 500px;
	display: none;
	position: absolute;
	border-radius: 15px;
	top: 0;
	left: 100%;
	backdrop-filter: blur(16px) saturate(180%);
	-webkit-backdrop-filter: blur(16px) saturate(180%);
	background-color: #1a2038;
	box-shadow: 0 0 50px #c2c9e7;
	border: 1px solid #1a2038;
	transition: 0.6s, box-shadow 0.6s;
	color: #fff;
	padding: 15px;
	border-radius: 15px;
	white-space: normal;
	overflow-wrap: break-word;
	overflow-y: auto;
}
