/* New character form */
.new-character-container {
    max-width: 800px;
    width: 100%;
}

.new-character-form {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    max-width: 90%;
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.new-character-form .field input:focus,
.new-character-form .field select:focus,
.new-character-form .field textarea:focus {
  border-color: grey;
}

.form-field {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.new-character-form label {
  margin-bottom: 5px;
}

.new-character-form input, .new-character-form select, .new-character-form textarea {
  width: 100%;
  background-color: rgb(31, 42, 55);
  color: white;
  border: 1px solid rgb(102, 101, 101);
  border-radius: 4px;

}

.new-character-form-content {
  width: 100%;
  overflow-y: auto;
  padding: 10px;
}

.new-campaign-container {
  max-width: 800px;
  width: 100%;
}

.new-campaign-form {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  max-width: 90%;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.new-campaign-form .field input:focus,
.new-campaign-form .field select:focus,
.new-campaign-form .field textarea:focus {
border-color: grey;
}

.new-campaign-form label {
margin-bottom: 5px;
}

.new-campaign-form input, .new-campaign-form select, .new-campaign-form textarea {
width: 100%;
background-color: rgb(31, 42, 55);
color: white;
border: 1px solid rgb(102, 101, 101);
border-radius: 4px;

}

.new-campaign-form-content {
width: 100%;
overflow-y: auto;
padding: 10px;
}
