.mycampaigns-container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
}

.mycampaigns-card {
	position: relative;
	z-index: 1;
	width: 600px;
	height: 335px;
	margin: 40px;
	perspective: 1000px;
	overflow: hidden;
	border-radius: 15px;
	box-shadow: 0 0 40px #01051b;
	transition: box-shadow 0.6s;
}

@keyframes wobble {
	0% {
		transform: rotate(0);
	}
	25% {
		transform: rotate(-1.5deg);
	}
	50% {
		transform: rotate(1.5deg);
	}
	75% {
		transform: rotate(-1.5deg);
	}
	100% {
		transform: rotate(1.5deg);
	}
}

.mycampaigns-card:hover {
	animation: wobble 0.5s ease-in-out;
}

.mycampaigns-card:hover {
	animation: wobble 0.5s ease-in-out;
}

.mycampaigns-image img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.campaign-name-overlay {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	transform: translateY(-50%);
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
	text-shadow: 0 0 10px #c2c9e7, 0 0 20px #c2c9e7;
	font-size: 25px;
	letter-spacing: 4px;
	text-transform: uppercase;
	z-index: 3;
	text-align: center;
	padding: 5px 10px;
	border-radius: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.character-profile-picture {
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 4;
}

.profile-pic {
	border-radius: 50%;
	width: 85px;
	height: 85px;
	object-fit: cover;
	object-position: center top;
	box-shadow: 0 0 10px #c2c9e7, 0 0 20px #c2c9e7;
}
