.navbar {
   background-color: transparent;
}

.custom-navbar {
   background-color: transparent;
}

.custom-navbar .nav-link,
.custom-navbar .navbar-text,
.custom-navbar .btn-link {
   color: white !important;
}
