<div class="campaign-card-container">
  <% if @campaign_options.any? %>
    <% @campaign_options.each do |campaign| %>
       <div class="campaign-card">
        <div class="face face1">
          <figure>
            <div class="img-container">
              <%= image_tag campaign.image_url %>
            </div>
            <figcaption><%= campaign.name %></figcaption>
          </figure>
        </div>

        <div class="face face2">
          <div class="campaign-content">
            <center><a href="#" type="button">Select</a></center>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>You currently have no campaigns.</p>
  <% end %>
  </div>

  <div class="box-2">
    <%= link_to campaign_options_path, class: "create_btn btn-two" %>
  </div>
