<div class="campaign-card-container">
  <% if @campaign_options.any? %>
    <% @campaign_options.each do |campaign| %>
       <div class="campaign-card">
        <div class="face face1">
          <div class="campaign-figure">
            <div class="img-container">
              <%= image_tag campaign.image_url %>
            </div>
            <div class="campaign-figcaption"><%= campaign.name %></div>
          </div>
        </div>

        <div class="face face2">
          <div class="campaign-content">
            <center><a href="#" type="button">Select</a></center>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>You currently have no campaigns.</p>
  <% end %>
  </div>

<%= link_to campaign_options_path, class: "circle-add-btn-link" do %>
  <button class="circle-add-btn">+</button>
<% end %>