<h1><%= @campaign  %> <h1>

      <div class="footer-button-container">
        <div class="box-2">
            <div class="create_btn btn-two" onclick="window.location='<%= url_for(my_campaigns_path) %>'" style="cursor: pointer;">
                <span>Return to My Campaigns</span>
            </div>
        </div>
